{{> layout/header }}

<main>
    <h2>매치 생성</h2>

    <form action="/matches" method="post">
        <div>
            <label for="title">제목:</label>
            <input type="text" id="title" name="title" required>
        </div>
        <div>
            <label for="location">장소:</label>
            <input type="text" id="location" name="location" required>
        </div>
        <div>
            <label for="matchTime">시간:</label>
            <input type="datetime-local" id="matchTime" name="matchTime" required>
        </div>
        <div>
            <label for="maxPlayers">최대 인원:</label>
            <input type="number" id="maxPlayers" name="maxPlayers" required>
        </div>

        <button type="submit">생성</button>
    </form>
</main>

{{> layout/footer }}